<section id="home">
<h1>peeps/urls inspector</h1>

<p>Fix the ones that look wrong and then…</p>
<form action="/inspector" method="post">
<input type="hidden" name="ids" value="<%= @inspect.map{|r| r[:id]}.join(',') %>">
<input type="submit" value="APPROVE EVERYTHING BELOW">
</form>
<table>
<% @inspect.each do |r| %>
	<tr>
		<td><a href="/person/<%= r[:person_id] %>">go</a></td>
		<td><%=h r[:url] %></td>
		<td><a href="/link?url=<%=h r[:url] %>">link</a></td>
	</tr>
<% end %>
</table>
</section>
