<section id="login">

<h1>log in</h1>

<form action="/login" method="post" name="login">
	<input type="email" name="email" placeholder="email">
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="log in">
</form>
<script>
document.login.email.focus();
</script>

</section>
