<h1>Help</h1>

<h2>How to use this?</h2>
<p>
Click on the question to see the writer’s essay for that question.  Make your changes directly inside that text box.
</p><p>
Click [SAVE] at any time to save your work. Like saving a Word document, it won’t change the screen, it just makes sure that your answer is saved, so you don’t lose your work if you get interrupted.
</p><p>
Once you [SAVE], you can come back to it any time to continue it or change it.  It’s permanently saved under your email + ID# login information.
</p><p>
Click [FINISHED] when you’re done.  That’s when we’ll read what you’ve written.
</p>

<h2>Formatting</h2>
</p>
For book formatting, we use a plain text style called <a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a>.  It’s used to make headers, lists, bold print, and clickable URLs.  We (writers, editors) all just work on the raw text, but you can see a preview of the formatting down below the editing box.
</p><p>
In other words, the “Preview” section is how it will appear in the book.  We have to write in Markdown to make the Preview look right.
</p>

<h2>How much to edit?</h2>
<p>
Use your best judgement.  I have no pre-set guidelines for editors.
</p><p>
If you think it’s great as-is, then you can leave it as-is.
</p><p>
If you think it needs a rewrite, you are free to rewrite it.
</p>

<h2>Any other questions?</h2>
<p>
Just email <a href="mailto:derek@sivers.org">derek@sivers.org</a> and I’ll be happy to help.
</p>
