<div class="row">
<div class="span8 offset4">

<h1>Wood Egg EDITOR</h1>

<h2><%= @todo_count %> essays to do</h2>

<h3><a href="/edit/next" class="btn btn-large btn-success">get next</a></h3>

<p><a href="/edit/todo">list of questions to do</a></p>

<p><a href="/edit/done">list of your finished work</a></p>

<% if @unwritten > 0 %>
	<p>NOTE: the writer is still working on <%= @unwritten %> essays that should be done by November 30.</p>
<% else %>
	<p>The writer is finished with all essays.</p>
<% end %>

</div>
</div>
