<h1><%= @t.top_s % @t.authors %></h1>
<ul class="linklist">
<% @authors.each do |author| %>
	<li><a href="/author/<%= author[:id] %>"><%=h author[:name] %></a> <small>(<%= author[:howmany] %>)</small></li>
<% end %>
</ul>

