</section>

<footer id="bigfoot">
<nav id="langforms">
<ul>
<% @languages.each do |lang_code, lang_show| %><% if @rel_alternate[lang_code] -%>
	<li><a href="<%= @rel_alternate[lang_code] %>"><%= lang_show %></a></li>
<% end %><% end -%>
</ul>
</nav>

<%= @rand_footer %>
</footer>

</div>
</body>
</html>

