<article>
<header>
<div class="group">
<h1>About Wood Egg:</h1>
</div>
</header>

<section id="information">
<p>
These are more than just books. This is really <strong>an ongoing research project that will be repeating and improving every year</strong>.  This 2013 edition is the very start.
</p><p>
<strong>If you buy any of these books</strong>, you have full access to all of our research, and the ability to <a href="/contact">ask us any question</a>, and <strong>we will find the answer for you.</strong>
</p><p>
<strong>If you have insights or information about any of these countries</strong>, things that were missing or wrong in this guide, <a href="/contact">email me anything</a>, and I’ll be happy to include it in the next edition, and give you credit.
</p><p>
<strong>If you want to get paid to improve next year’s guide</strong>, just <a href="/contact">email</a> to let me know.
</p>

<h2>How these books were made</h2>
<ol>
<li>I <strong>wrote 200 questions</strong> to be asked of each country.</li>
<li>I <strong>hired multiple researchers</strong> in each country to answer each question.  One local, one foreigner, one other.  I wanted the book to be <strong>more than one person’s point of view.</strong></li>
<li>I hired a writer/editor to turn the <strong>multiple different answers into one combined answer.</strong></li>
<li>I went through the final answer to proofread and improve.</li>
</ol>

<div class="bio">
<figure><img alt="Derek Sivers" width="200" height="200" src="/images/DerekSivers-200x200.jpg" /></figure>
<h2>Founder: Derek Sivers</h2>
<p>
Derek Sivers created CD Baby in 1998, which became the largest seller of independent music online, with $100M in sales for 150,000 musicians. 
</p><p>
In 2008, Derek sold CD Baby for $22M, and moved to Singapore to start his new company.
</p><p>
He is “Entrepreneur In Residence” at <a href="http://www.insead.edu/">INSEAD Business School</a>.
</p><p>
In 2011, he published <a href="http://sivers.org/a">a book</a> which shot to #1 on all of its Amazon categories. 
</p><p>
He is a frequent <a href="http://www.ted.com/speakers/derek_sivers.html">speaker at the TED Conference</a>, with over 5 million views of his talks, and <a href="https://twitter.com/sivers">275,000 Twitter followers</a>.
</p><p>
More about Derek at <a href="http://sivers.org/">sivers.org</a>
</p>
</div>

</section>

</article>


