<article>
<header>
<div class="group">
<h1>Contact:</h1>
</div>
</header>

<section id="information">
<div class="vcard">
	<h2 class="fn org">Wood Egg</h2>
	<div class="adr">
		<div class="street-address">30 Duxton Road #02-00</div>
		<div><span class="locality">Singapore</span>, <span class="postal-code">089494</span>, <span class="country-name">Singapore</span></div>
	</div>
	<div>email: <a href="mailto:derek@sivers.org"><span class="email">derek@sivers.org</span></a></div>
	<div>web: <a href="http://woodegg.com/"><span class="web">woodegg.com</span></a></div>
</div>

<div class="vcard">
	<figure><img alt="Derek Sivers" width="200" height="200" src="/images/DerekSivers-200x200.jpg" /></figure>
	<h3 class="name">Derek Sivers</h3>
	<div><span class="title">Founder and Producer</span></div>
	<div><a href="mailto:derek@sivers.org"><span class="email">derek@sivers.org</span></a></div>
</div>
</section>

</article>
