	<h2>Country</h2>
		<h3>Current stats</h3>
		<ul>
			<li>What is the size of Myanmar in square km? What is the distance (in km) from east to west? What is the distance (in km) from north to south?</li>
			<li>What is the total population of Myanmar? What are the top ethnic groups and religions as a percentage of population?</li>
			<li>What are the economic statistics of Myanmar? Gross domestic product (GDP)? Average income per-person? National debt? Growth percentage of last two years?</li>
		</ul>
		<h3>Quick history as it affects current business environment</h3>
		<ul>
			<li>Give a short modern history of Myanmar - just enough for basic conversational knowledge and context.</li>
			<li>Give a short history of Myanmar’s last 5 years, focusing on aspects that would affect small business owners.</li>
			<li>How has the recent history of the country affected people in terms of their living and business environment?</li>
		</ul>
		<h3>2013 zeitgeist</h3>
		<ul>
			<li>Give an overview of the current 2013 political, societal, and economic condition of Myanmar, focusing on aspects that would affect small business owners.</li>
		</ul>
		<h3>Near-future outlook</h3>
		<ul>
			<li>What social changes in Myanmar seem very likely in the next five years?</li>
			<li>What economic changes in Myanmar seem very likely in the next five years?</li>
			<li>What political changes in Myanmar seem very likely in the next five years?</li>
		</ul>
		<h3>Relationship with other countries</h3>
		<ul>
			<li>What is Myanmar’s relationship with Indonesia? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</li>
			<li>What is Myanmar’s relationship with Malaysia? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</li>
			<li>What is Myanmar’s relationship with Singapore? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</li>
			<li>What is Myanmar’s relationship with Thailand? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</li>
			<li>What is Myanmar’s relationship with Vietnam? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</li>
			<li>What is Myanmar’s relationship with China? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</li>
			<li>What is Myanmar’s relationship with India? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</li>
			<li>What is Myanmar’s relationship with Australia? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</li>
			<li>What is Myanmar’s relationship with the United States? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</li>
		</ul>
	<h2>Culture</h2>
		<h3>Mindset</h3>
		<ul>
			<li>Describe the mindset of most people in Myanmar. Progressive or conservative? Future-focused or present-focused? Work-focused or pleasure-focused? Optimistic or cautious? Pressing for change, or maintaining traditions? Strict or easy-going? Or, if the mindset is very divided between groups, please describe the divide. (Feel free to just share your personal opinion.)</li>
			<li>What are some of the major internal conflicts that Myanmar is going through now? (Between political parties, age generations, demographics, ideologies, etc.) Summarize each side’s argument.</li>
			<li>Is it taboo to talk about Myanmar’s government?</li>
			<li>How would you describe the views of the general public about the government of Myanmar?</li>
		</ul>
		<h3>Religion and Race</h3>
		<ul>
			<li>What role does religion play in day-to-day life?</li>
			<li>Are there any types of businesses that are not welcome or looked down upon due to religious reasons?</li>
			<li>How does religion affect business dealings? Times or days when people do not do business for religious reasons? Any religious rituals that businesses follow?</li>
		</ul>
		<h3>Asia 101</h3>
		<ul>
			<li>What basic cultural norms do you think foreigners should know about working with people in Asia in general?</li>
			<li>What basic cultural norms do you think foreigners should know about working with people in Myanmar, as compared to Asia in general?</li>
			<li>What are some of the most common mannerisms when meeting with people?</li>
			<li>When people go out to eat or drink together, how is it decided who pays?  (Describe business and personal situations separately.)</li>
		</ul>
		<h3>Individualism</h3>
		<ul>
			<li>As compared to American individualism, Myanmar is more of a community/group-focused culture. Describe these differences from a local point of view.</li>
		</ul>
		<h3>Local differences</h3>
		<ul>
			<li>What are the cultural differences between people in Myanmar and China?</li>
			<li>What are the cultural differences between people in Myanmar and India?</li>
			<li>What are the cultural differences between people in Myanmar and Indonesia?</li>
			<li>What are the cultural differences between people in Myanmar and Malaysia?</li>
			<li>What are the cultural differences between people in Myanmar and Singapore?</li>
			<li>What are the cultural differences between people in Myanmar and Thailand?</li>
			<li>What are the cultural differences between people in Myanmar and Vietnam?</li>
			<li>What are the cultural differences between people in Myanmar and the United States?</li>
		</ul>
		<h3>Personal attitudes towards foreigners</h3>
		<ul>
			<li>How do people view foreign tourists in Myanmar?</li>
			<li>What is the common opinion about foreign workers, coming to Myanmar to work? Is it a business threat? Is it a cultural threat?</li>
			<li>What is the common opinion about foreign entrepreneurs, coming to Myanmar to set up a business?</li>
			<li>Which foreigners are generally most welcome? Which foreigners are generally least welcome?</li>
		</ul>
		<h3>What to wear</h3>
		<ul>
			<li>What is the most appropriate business/meeting clothing for men in Myanmar? What would be considered too casual or disrespectful?</li>
			<li>What is the most appropriate business/meeting clothing for women in Myanmar? What would be considered too casual or disrespectful?</li>
			<li>How can you tell by their clothing that someone is high-status or low-status?</li>
		</ul>
		<h3>Attitude towards time and promises</h3>
		<ul>
			<li>What is the Myanmar attitude towards punctuality? For example, if two people agreed on an 11:00 business meeting, what time range to arrive would be considered acceptable? What is considered late?</li>
			<li>What is the Myanmar attitude towards promises? Are you expected to stick to your promise, no matter what? Or is it common to change your mind?</li>
		</ul>
		<h3>Common conversational references</h3>
		<ul>
			<li>What is a common Myanmar expression that a foreigner might not understand?</li>
		</ul>
		<h3>How to blend in</h3>
		<ul>
			<li>How can a foreigner blend in to Myanmar? What advice would you give foreigners on how not to stick out so much?</li>
			<li>How can a foreigner become a part of the business community in Myanmar? What is a good way to meet many people and make connections?</li>
		</ul>
		<h3>When not to blend in</h3>
		<ul>
			<li>Is it best for a foreigner doing business in Myanmar to blend in? Or is there an advantage to not blending in?</li>
		</ul>
		<h3>Recommended reading/watching</h3>
		<ul>
			<li>What books, magazines, newspapers, or websites would you recommend a foreign entrepreneur read to better understand Myanmar and its business environment?</li>
		</ul>
	<h2>Life</h2>
		<h3>Quality of life</h3>
		<ul>
			<li>Describe the general quality of life in Myanmar (Utilities, cleanliness, safety, amenities, physical comfort.) If very different in different areas, describe each separately.</li>
			<li>Which parts of Myanmar have the nicest quality of life? Which parts have the worst? Describe each.</li>
		</ul>
		<h3>Cost of living</h3>
		<ul>
			<li>What is the average cost of rent for a 1-bedroom (unfurnished) apartment? What is the average cost for an unfurnished small house (or large apartment) for a 5-person family?</li>
			<li>What would it cost per-month for one person to live a nice, but not luxurious, life in Myanmar? Include food, utilities, transportation.</li>
			<li>What length of time is a usual contract when renting an apartment or house?</li>
		</ul>
		<h3>Western standards vs local standards</h3>
		<ul>
			<li>How does the general quality of life in Myanmar compare to America, Australia, or Europe? (Utilities, cleanliness, safety, amenities, physical comfort.)</li>
			<li>What safety precautions would you recommend for a foreigner?</li>
		</ul>
		<h3>Language / English proficiency</h3>
		<ul>
			<li>Do most people in the cities of Myanmar speak English?</li>
			<li>If someone came to Myanmar only speaking English, how difficult would it be to live and work?</li>
			<li>Is it common for merchants to charge foreigners more if they speak in English?</li>
		</ul>
		<h3>Safety</h3>
		<ul>
			<li>Which parts of Myanmar are safest? Which parts are unsafe? Describe each.</li>
			<li>How do people in Myanmar deal with petty crimes like theft?</li>
			<li>How can one generally distinguish friend from foe? Any signs to consider, or scams to beware of?</li>
		</ul>
		<h3>Immigration / Visa</h3>
		<ul>
			<li>How can a foreign entrepreneur live and work in Myanmar for a few years? Do they need a work visa, investor visa, tourist visa, or something else?</li>
			<li>How can someone get a visa to live in Myanmar long-term?</li>
		</ul>
		<h3>Where to live (short-term and long-term)</h3>
		<ul>
			<li>What are some serviced apartments or furnished homes in the business district that can be rented month-by-month, for short-term (say 3 month) visits? Give examples and prices.</li>
			<li>Where should someone live to be in the middle of the most business, the most action, and to meet the most people? What specific neighborhoods?</li>
			<li>Where should someone live to be near to the business action, but to be a little outside, in a neighborhood that’s better for children?</li>
			<li>What are some places a foreigner should not stay, because of their lack of proximity, safety, or other reasons?</li>
		</ul>
		<h3>Typical living arrangements</h3>
		<ul>
			<li>What is a typical living arrangement in Myanmar? Do most people live in houses or apartments?</li>
			<li>Do families usually live together with parents, grandparents, kids, and siblings - or do they tend to live separately?</li>
		</ul>
		<h3>Transportation</h3>
		<ul>
			<li>How do working people normally get around? (Car? Bus? Train? Taxi? Bicycle? Walk?)</li>
			<li>What is the recommended transportation for someone coming to work in Myanmar? (Car? Bus? Train? Taxi? Rented car? Please describe options, prices, and recommendations.)</li>
		</ul>
		<h3>Internet / Phone</h3>
		<ul>
			<li>What are the most popular mobile phone/data providers in Myanmar?  Which one would you recommend?</li>
			<li>How much does it cost for a basic broadband (cable/fiber) internet connection in a home or office? Name speeds and prices.</li>
			<li>How much does it cost for a mobile data plan (3G) for heavy internet use through a mobile phone? Describe the current best plans.</li>
		</ul>
		<h3>Food</h3>
		<ul>
			<li>What’s the typical cuisine of Myanmar?</li>
			<li>Is it easy to find western food? Are there western restaurants? Western food in supermarkets?</li>
			<li>What’s the etiquette of using your hands or utensils for eating? Any inappropriate manners that foreigners often have?</li>
		</ul>
		<h3>Credit card? Cash? Check?</h3>
		<ul>
			<li>How do most people pay for things? Cash? Credit card? Check? Something else?</li>
			<li>What is the easiest way to get cash in Myanmar? Are ATMs the best option?</li>
		</ul>
		<h3>Availability of products/services</h3>
		<ul>
			<li>What goods and services that Western people are used to are not available in Myanmar?</li>
		</ul>
		<h3>What’s not online</h3>
		<ul>
			<li>What kinds of day-to-day necessary things do people do online? (Meaning: not just fun/social, but like online banking, shopping, paying bills, using maps/location services, etc.)</li>
		</ul>
		<h3>Differences in service standards</h3>
		<ul>
			<li>What’s the difference in customer service between US/Australia/Europe and Myanmar? More service? Less service?</li>
			<li>Is good customer service a necessary part of successful business dealings?</li>
		</ul>
		<h3>Expat community</h3>
		<ul>
			<li>Are there a lot of foreign expats in Myanmar?</li>
			<li>Where do expats live in Myanmar?</li>
			<li>Where do expats hang out in Myanmar?</li>
		</ul>
		<h3>Recommended resources</h3>
		<ul>
			<li>What are some good books that describe the life and culture of Myanmar?</li>
			<li>What are some good internet resources that help describe life in Myanmar?</li>
		</ul>
	<h2>Business Culture</h2>
		<h3>Mindset</h3>
		<ul>
			<li>Summarize the business mindset of people in Myanmar. Ruthless? By-the-book? Improvisational? Considerate?</li>
			<li>Are there any particular business dealings that foreigners should not get involved in?</li>
		</ul>
		<h3>Understanding “face”</h3>
		<ul>
			<li>Foreigners sometimes don’t understand the Asian concept of “face” (dignity / prestige). How would you explain “face”?</li>
			<li>How is “face” (dignity / prestige) a part of Myanmar business culture? Give examples.</li>
		</ul>
		<h3>Direct vs indirect communication</h3>
		<ul>
			<li>Give examples of direct (saying exactly what is meant) versus indirect (gestures, avoidance, vague language) communication style in Myanmar.</li>
			<li>Is direct communication (saying exactly what is meant) considered rude?</li>
			<li>How can someone understand the meaning behind indirect communication? Any hints to help translate?</li>
		</ul>
		<h3>How to tell “yes” from “no”</h3>
		<ul>
			<li>People used to very direct communication find it hard to understand when someone with a more indirect communication style has told them “yes” or “no”. Give examples of some indirect statements that actually mean “yes”, and indirect statements that actually mean “no”.</li>
		</ul>
		<h3>Hierarchy</h3>
		<ul>
			<li>How important is hierarchy in business in Myanmar?</li>
			<li>Is it disrespectful for a foreigner to deal in business with a certain class of people?</li>
			<li>Give an example of a business situation where the norms of hierarchy are not followed, (by a foreigner who doesn’t understand), and explain how they should be followed according to the norms of Myanmar.</li>
		</ul>
		<h3>Who to speak with in organizations</h3>
		<ul>
			<li>When a foreigner wants to do business with a Myanmar company, who should they contact? Go directly to the top? Start in the middle?</li>
			<li>Are personal recommendations important in doing business with new companies or can they be reached purely on a basis of business?</li>
		</ul>
		<h3>Business attitudes towards foreigners</h3>
		<ul>
			<li>What is the general attitude of businesses in Myanmar towards foreigners coming to Myanmar to do business?</li>
		</ul>
		<h3>Signals of respect</h3>
		<ul>
			<li>What are some social etiquette actions that show respect for someone?</li>
			<li>What are some social actions that would be taken as disrespectful?</li>
			<li>How do people in Myanmar express anger? Do they usually stay quiet or express their feelings openly?</li>
			<li>How do people view laughter in Myanmar? What kinds of jokes are not acceptable?</li>
		</ul>
		<h3>How to build trust</h3>
		<ul>
			<li>How can a foreigner doing business in Myanmar build trust with local businesses or people?</li>
			<li>Is it important to make local friends in order to spread your business?</li>
		</ul>
		<h3>Introductions</h3>
		<ul>
			<li>What is the standard polite way of doing business introductions? (If someone asks you to introduce them to another business person you know.)</li>
		</ul>
		<h3>Business cards</h3>
		<ul>
			<li>How important are business cards (name cards) in Myanmar? Do most people have them?</li>
			<li>What is the standard business card format in Myanmar? What information goes on it? Bi-lingual with one language on each side?</li>
			<li>Are there proper manners for how to give your business card to someone, and how to receive someone’s card?</li>
		</ul>
		<h3>Negotiation</h3>
		<ul>
			<li>Give some insight and advice about business negotiations in Myanmar.</li>
		</ul>
		<h3>Signaling success</h3>
		<ul>
			<li>How can you tell that a person is successful? Clothing? Manners? Neighborhood? Events? Friends?</li>
		</ul>
		<h3>Innovation vs status quo</h3>
		<ul>
			<li>Do you feel that business is Myanmar is attracted to innovation, or attracted to the status quo?</li>
		</ul>
		<h3>Passing-through vs Full-time</h3>
		<ul>
			<li>Is there a stigma against business people that are just passing through Myanmar, looking for opportunities, versus foreigners who live there?</li>
			<li>What advantages do foreigners who live full-time in Myanmar have over those who just visit?</li>
		</ul>
		<h3>Advantages to foreigners</h3>
		<ul>
			<li>What advantages do foreigners have (versus locals) when doing business in Myanmar?</li>
		</ul>
		<h3>Advantages to locals</h3>
		<ul>
			<li>What advantages do local people have (versus foreigners) when doing business in Myanmar?</li>
		</ul>
		<h3>Risks</h3>
		<ul>
			<li>What are the top risks of doing business in Myanmar? </li>
		</ul>
		<h3>Corruption</h3>
		<ul>
			<li>How pervasive is corruption in business in Myanmar? Can you give some examples? (Change the details to protect people.)</li>
		</ul>
	<h2>Government</h2>
		<h3>General role of government</h3>
		<ul>
			<li>How involved is the government in the dealings of small business?</li>
			<li>Is the government of Myanmar open to foreign businesses or restrictive?</li>
		</ul>
		<h3>Who’s who: departments you need to know</h3>
		<ul>
			<li>What government departments will a small business probably need to interact with? Please describe each.</li>
			<li>What are some government regulations that need to be considered by foreign businesses?</li>
		</ul>
		<h3>What the government is emphasizing now</h3>
		<ul>
			<li>What sectors is the government emphasizing development now? Any current mission or push?</li>
		</ul>
		<h3>Incentives</h3>
		<ul>
			<li>What government incentives are available to new or small businesses now?</li>
			<li>Do many small businesses use government incentives?</li>
		</ul>
		<h3>Grants</h3>
		<ul>
			<li>What government grants are available to new or small businesses now?</li>
			<li>Do many small businesses use government grants?</li>
		</ul>
	<h2>Business Setup</h2>
		<h3>Ease of doing business</h3>
		<ul>
			<li>How does Myanmar rank on the “Ease of Doing Business” index?</li>
			<li>What’s the hardest part about doing business in Myanmar?</li>
			<li>What’s the easiest part about doing business in Myanmar?</li>
		</ul>
		<h3>Local partners?</h3>
		<ul>
			<li>If a foreigner is starting a business in Myanmar, is it required to have a local partner? Or does the government allow foreign-controlled businesses?</li>
		</ul>
		<h3>Business structure choice</h3>
		<ul>
			<li>What are the options for business structures in Myanmar? (Sole proprietor? Partnership? Corporation? Other?)</li>
			<li>What are the advantages and disadvantages of each kind of business structure in Myanmar?</li>
		</ul>
		<h3>Business name choice</h3>
		<ul>
			<li>Any advice on naming a business in Myanmar? Are English names OK, or should they be localized?</li>
			<li>What are some mistakes that foreign businesses have made when naming a business in Myanmar?</li>
		</ul>
		<h3>Timeline</h3>
		<ul>
			<li>How long does it generally take to incorporate a business structure in Myanmar?</li>
		</ul>
		<h3>Cost</h3>
		<ul>
			<li>What does it cost to incorporate a business structure in Myanmar? (Including all service fees, helper fees, government fees, etc.)</li>
		</ul>
		<h3>Incorporating</h3>
		<ul>
			<li>How does a foreigner create a business structure in Myanmar?</li>
		</ul>
		<h3>Where to locate</h3>
		<ul>
			<li>How should a new business decide where to locate in Myanmar?</li>
		</ul>
		<h3>Real estate</h3>
		<ul>
			<li>How much does it cost to rent a typical 4-person office space in Myanmar? Give a range from center-city expensive to outlying-area cheap.</li>
			<li>Can a foreign investor easily buy property for business in Myanmar or renting is the only option?</li>
		</ul>
		<h3>Big city vs outlying areas</h3>
		<ul>
			<li>What are the advantages and disadvantages of locating a new business in the big city versus the outlying areas?</li>
		</ul>
		<h3>What your location says about your business</h3>
		<ul>
			<li>Does business location (center of biggest city versus outlying areas) communicate something about the business itself?</li>
			<li>Which neighborhood or street has the most prestige?</li>
		</ul>
		<h3>Utilities</h3>
		<ul>
			<li>How can a new office get set up with electricity, internet, phone, and other important utilities? Describe the utility companies and summary of process for each.</li>
			<li>Will a foreigner have a problem getting utilities for the business? If so, what solution would you recommend?</li>
		</ul>
		<h3>Permits</h3>
		<ul>
			<li>How can a new business find out which permits are necessary to do their business?</li>
			<li>How can a new business get all the permits they need?</li>
		</ul>
		<h3>Contracts</h3>
		<ul>
			<li>Are contracts respected in Myanmar? Or are they often ignored if need be?</li>
		</ul>
		<h3>Lawyers</h3>
		<ul>
			<li>Which lawyers or law firms are best to help foreign entrepreneurs in Myanmar?</li>
		</ul>
		<h3>Accountants</h3>
		<ul>
			<li>Which accountants or accountancy firms are best to help foreign entrepreneurs in Myanmar?</li>
		</ul>
		<h3>Paying taxes</h3>
		<ul>
			<li>What are the current tax rates for businesses in Myanmar?</li>
			<li>Are the taxes different in different regions in Myanmar?</li>
			<li>How do business owners pay their taxes?</li>
		</ul>
		<h3>Ongoing requirements</h3>
		<ul>
			<li>Besides paying taxes, what ongoing maintenance bureaucracy is required by the government for small businesses?</li>
		</ul>
		<h3>Recommended resources</h3>
		<ul>
			<li>What books describe doing business in Myanmar?</li>
			<li>What internet resources help someone doing business in Myanmar?</li>
		</ul>
	<h2>Hiring</h2>
		<h3>Local talent strengths</h3>
		<ul>
			<li>What are the main strengths of the local talent in Myanmar? Any particular skills or fields more developed or emphasized?</li>
		</ul>
		<h3>Hiring local people</h3>
		<ul>
			<li>What is the best way to hire local employees?</li>
		</ul>
		<h3>How much to pay?</h3>
		<ul>
			<li>What is the average salary for a mildly skilled worker in Myanmar? (Say: basic administrative tasks.)</li>
			<li>What is the average salary for a very skilled worker in Myanmar? (Say: an experienced manager.)</li>
		</ul>
		<h3>How to find good people?</h3>
		<ul>
			<li>What’s the best way to find and hire exceptionally smart and talented workers in Myanmar?</li>
		</ul>
		<h3>Online vs offline</h3>
		<ul>
			<li>How much of the finding and hiring of employees is done online? Is it rare or common to have job openings posted online?</li>
			<li>What websites do people use for posting jobs / finding jobs / hiring employees?</li>
		</ul>
		<h3>Hiring foreign people</h3>
		<ul>
			<li>How can a Myanmar business hire a foreign employee? What are the requirements, steps, costs, and time?</li>
		</ul>
		<h3>Step-by-step process</h3>
		<ul>
			<li>What processes or documents are required for hiring an employee?</li>
		</ul>
		<h3>Labor laws</h3>
		<ul>
			<li>What hours do most people work? (9am-5pm?)  What days do most people work? (Monday-Friday? Also Saturday?)</li>
			<li>Is it very common to work overtime?  (Extra hours at night, or extra days per week?)</li>
			<li>Give a summary of the most important labor laws in Myanmar - that a small-business employer should know.</li>
		</ul>
		<h3>Payroll</h3>
		<ul>
			<li>What processes or documents are required for paying an employee? Do taxes need to be withheld or paid? Any ongoing forms to file?</li>
		</ul>
		<h3>Unions</h3>
		<ul>
			<li>Are there labor unions in Myanmar that will affect employees of small business?</li>
		</ul>
		<h3>Firing</h3>
		<ul>
			<li>What processes or documents are required for firing an employee?</li>
		</ul>
		<h3>Recommended resources</h3>
		<ul>
			<li>What local companies or people can help with hiring?</li>
		</ul>
	<h2>Money</h2>
		<h3>Banking overview</h3>
		<ul>
			<li>Give an overview of the availability and quality of small-business banking in Myanmar.</li>
		</ul>
		<h3>Bank comparison</h3>
		<ul>
			<li>Compare the top three choices for small business banking in Myanmar. Funds required? Costs? Online access? Visa/Mastercard debit card given?</li>
		</ul>
		<h3>How to open an account</h3>
		<ul>
			<li>What requirements do the banks have for opening a business account?</li>
			<li>Any additional requirements for a foreigner to open a business bank account?</li>
		</ul>
		<h3>Online banking</h3>
		<ul>
			<li>How much of banking can be done online? Outgoing payments? International wires (telegraphic transfer)?</li>
		</ul>
		<h3>Paying employees</h3>
		<ul>
			<li>What is the usual way for a business to pay employees in Myanmar? What payment method and how often?</li>
		</ul>
		<h3>Paying vendors</h3>
		<ul>
			<li>What is the usual way for a business to pay vendors in Myanmar? Bank transfer? Paper check? Visa/Mastercard?</li>
		</ul>
		<h3>Getting a bank loan</h3>
		<ul>
			<li>How can a small business get a bank loan in Myanmar?</li>
		</ul>
		<h3>Getting investors</h3>
		<ul>
			<li>How can a small business get investors in Myanmar?</li>
		</ul>
		<h3>What if they don’t pay?</h3>
		<ul>
			<li>What legal procedures should be followed to ensure that customers pay as promised?</li>
			<li>If customers don’t pay, what methods are used to get them to pay?</li>
		</ul>
	<h2>Industry sectors</h2>
		<h3>Industries</h3>
		<ul>
			<li>What are the main exports of Myanmar?</li>
			<li>What industries are very well-developed in Myanmar?</li>
		</ul>
		<h3>What’s missing?</h3>
		<ul>
			<li>What industries are not very well-developed in Myanmar, and have much room to grow?</li>
			<li>What useful services or products are missing in Myanmar now?</li>
			<li>What industries have the most opportunity in Myanmar right now?</li>
		</ul>
		<h3>What’s unique?</h3>
		<ul>
			<li>What services or products are unique to Myanmar? Any particular business or service that exists in Myanmar, that you’ve never heard of anywhere else?</li>
		</ul>
	<h2>Growing the Business</h2>
		<h3>Marketing</h3>
		<ul>
			<li>What methods do local businesses use for marketing their business?</li>
			<li>What language should local marketing use?</li>
		</ul>
		<h3>Expanding outside the country</h3>
		<ul>
			<li>Do many businesses in Myanmar expand outside the country?</li>
			<li>What are the best ways to sell local products from Myanmar to other countries?</li>
			<li>Are there any government regulations concerning exports?</li>
			<li>What are some of the ways to open a franchise in Myanmar?</li>
			<li>Can investors transfer their existing business in Myanmar?</li>
		</ul>
