<h1>Countries:</h1>
<ul>
	<li><a href="/country/KH">Cambodia</a></li>
	<li><a href="/country/CN">China</a></li>
	<li><a href="/country/HK">Hong Kong</a></li>
	<li><a href="/country/IN">India</a></li>
	<li><a href="/country/ID">Indonesia</a></li>
	<li><a href="/country/JP">Japan</a></li>
	<li><a href="/country/KR">Korea</a></li>
	<li><a href="/country/MY">Malaysia</a></li>
	<li><a href="/country/MN">Mongolia</a></li>
	<li><a href="/country/MM">Myanmar</a></li>
	<li><a href="/country/PH">Philippines</a></li>
	<li><a href="/country/SG">Singapore</a></li>
	<li><a href="/country/LK">Sri Lanka</a></li>
	<li><a href="/country/TW">Taiwan</a></li>
	<li><a href="/country/TH">Thailand</a></li>
	<li><a href="/country/VN">Vietnam</a></li>
</ul>

<h1>Download e-book:</h1>
<ul>
<li>Asia (ALL):
	<a href="/download/Asia2014.epub">epub</a>
	<a href="/download/Asia2014.mobi">mobi</a>
	<a href="/download/Asia2014.pdf">pdf</a>
</li>
<li>Cambodia:
	<a href="/download/Cambodia2014.epub">epub</a>
	<a href="/download/Cambodia2014.mobi">mobi</a>
	<a href="/download/Cambodia2014.pdf">pdf</a>
</li>
<li>China:
	<a href="/download/China2014.epub">epub</a>
	<a href="/download/China2014.mobi">mobi</a>
	<a href="/download/China2014.pdf">pdf</a>
</li>
<li>Hong Kong:
	<a href="/download/HongKong2014.epub">epub</a>
	<a href="/download/HongKong2014.mobi">mobi</a>
	<a href="/download/HongKong2014.pdf">pdf</a>
</li>
<li>India:
	<a href="/download/India2014.epub">epub</a>
	<a href="/download/India2014.mobi">mobi</a>
	<a href="/download/India2014.pdf">pdf</a>
</li>
<li>Indonesia:
	<a href="/download/Indonesia2014.epub">epub</a>
	<a href="/download/Indonesia2014.mobi">mobi</a>
	<a href="/download/Indonesia2014.pdf">pdf</a>
</li>
<li>Japan:
	<a href="/download/Japan2014.epub">epub</a>
	<a href="/download/Japan2014.mobi">mobi</a>
	<a href="/download/Japan2014.pdf">pdf</a>
</li>
<li>Korea:
	<a href="/download/Korea2014.epub">epub</a>
	<a href="/download/Korea2014.mobi">mobi</a>
	<a href="/download/Korea2014.pdf">pdf</a>
</li>
<li>Malaysia:
	<a href="/download/Malaysia2014.epub">epub</a>
	<a href="/download/Malaysia2014.mobi">mobi</a>
	<a href="/download/Malaysia2014.pdf">pdf</a>
</li>
<li>Mongolia:
	<a href="/download/Mongolia2014.epub">epub</a>
	<a href="/download/Mongolia2014.mobi">mobi</a>
	<a href="/download/Mongolia2014.pdf">pdf</a>
</li>
<li>Myanmar:
	<a href="/download/Myanmar2014.epub">epub</a>
	<a href="/download/Myanmar2014.mobi">mobi</a>
	<a href="/download/Myanmar2014.pdf">pdf</a>
</li>
<li>Philippines:
	<a href="/download/Philippines2014.epub">epub</a>
	<a href="/download/Philippines2014.mobi">mobi</a>
	<a href="/download/Philippines2014.pdf">pdf</a>
</li>
<li>Singapore:
	<a href="/download/Singapore2014.epub">epub</a>
	<a href="/download/Singapore2014.mobi">mobi</a>
	<a href="/download/Singapore2014.pdf">pdf</a>
</li>
<li>Sri Lanka:
	<a href="/download/SriLanka2014.epub">epub</a>
	<a href="/download/SriLanka2014.mobi">mobi</a>
	<a href="/download/SriLanka2014.pdf">pdf</a>
</li>
<li>Taiwan:
	<a href="/download/Taiwan2014.epub">epub</a>
	<a href="/download/Taiwan2014.mobi">mobi</a>
	<a href="/download/Taiwan2014.pdf">pdf</a>
</li>
<li>Thailand:
	<a href="/download/Thailand2014.epub">epub</a>
	<a href="/download/Thailand2014.mobi">mobi</a>
	<a href="/download/Thailand2014.pdf">pdf</a>
</li>
<li>Vietnam:
	<a href="/download/Vietnam2014.epub">epub</a>
	<a href="/download/Vietnam2014.mobi">mobi</a>
	<a href="/download/Vietnam2014.pdf">pdf</a>
</li>
</ul>

<h1>Compare data across countries:</h1>
<h2>Now</h2>
	<h3>Introduction</h3>
	<ul>
		<li><a href="/template/0">Understanding {COUNTRY}</a></li>
	</ul>
	<h3>Zeitgeist</h3>
	<ul>
		<li><a href="/template/7">Give an overview of the current 2014 political, societal, and economic condition of {COUNTRY}.</a></li>
	</ul>
	<h3>Near-future outlook</h3>
	<ul>
		<li><a href="/template/8">What social changes in {COUNTRY} seem very likely in the next five years?</a></li>
		<li><a href="/template/9">What economic changes in {COUNTRY} seem very likely in the next five years?</a></li>
		<li><a href="/template/10">What political changes in {COUNTRY} seem very likely in the next five years?</a></li>
	</ul>
<h2>Country</h2>
	<h3>Current stats</h3>
	<ul>
		<li><a href="/template/1">What is the size of {COUNTRY}?</a></li>
		<li><a href="/template/2">What is the total population of {COUNTRY}? What are the top ethnic groups and religions as a percentage of population?</a></li>
		<li><a href="/template/3">What are the economic statistics of {COUNTRY}? Gross domestic product (GDP)? Average income per-person? National debt? Growth percentage of last two years?</a></li>
	</ul>
	<h3>Quick history as it affects current business environment</h3>
	<ul>
		<li><a href="/template/4">Give a short modern history of {COUNTRY} - just enough for basic conversational knowledge and context.</a></li>
		<li><a href="/template/5">Give a short history of {COUNTRY}’s last 5 years.</a></li>
		<li><a href="/template/6">How has the recent history of the country affected people in terms of their living and business environment?</a></li>
	</ul>
	<h3>Relationship with other countries</h3>
	<ul>
		<li><a href="/template/11">What is {COUNTRY}’s relationship with Cambodia? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/12">What is {COUNTRY}’s relationship with Hong Kong? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/13">What is {COUNTRY}’s relationship with Indonesia? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/14">What is {COUNTRY}’s relationship with Japan? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/15">What is {COUNTRY}’s relationship with Korea? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/16">What is {COUNTRY}’s relationship with Malaysia? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/17">What is {COUNTRY}’s relationship with Mongolia? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/18">What is {COUNTRY}’s relationship with Myanmar? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/19">What is {COUNTRY}’s relationship with Philippines? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/20">What is {COUNTRY}’s relationship with Singapore? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/21">What is {COUNTRY}’s relationship with Sri Lanka? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/22">What is {COUNTRY}’s relationship with Taiwan? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/23">What is {COUNTRY}’s relationship with Thailand? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/24">What is {COUNTRY}’s relationship with Vietnam? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/25">What is {COUNTRY}’s relationship with China? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/26">What is {COUNTRY}’s relationship with India? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/27">What is {COUNTRY}’s relationship with Australia? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
		<li><a href="/template/28">What is {COUNTRY}’s relationship with the United States? Cooperative or competitive? Similarities or differences? What is the main trade between the two?</a></li>
	</ul>
<h2>Culture</h2>
	<h3>Mindset</h3>
	<ul>
		<li><a href="/template/29">What is the mindset of most people in {COUNTRY}? Progressive or conservative? Future-focused or present-focused? Work-focused or pleasure-focused? Optimistic or cautious? Pressing for change, or maintaining traditions? Strict or easy-going?</a></li>
		<li><a href="/template/30">What are some of the major internal conflicts that {COUNTRY} is going through now? (Between political parties, age generations, demographics, ideologies, etc.)</a></li>
		<li><a href="/template/31">Is it taboo to talk about {COUNTRY}’s government?</a></li>
		<li><a href="/template/32">How would you describe the views of the general public about the government of {COUNTRY}?</a></li>
	</ul>
	<h3>Religion and Race</h3>
	<ul>
		<li><a href="/template/33">What role does religion play in day-to-day life?</a></li>
		<li><a href="/template/34">Are there any types of businesses that are not welcome or looked down upon due to religious reasons?</a></li>
		<li><a href="/template/35">How does religion affect business dealings? Times or days when people do not do business for religious reasons? Any religious rituals that businesses follow?</a></li>
	</ul>
	<h3>Asia 101</h3>
	<ul>
		<li><a href="/template/36">What basic cultural norms do you think foreigners should know about working with people in Asia in general?</a></li>
		<li><a href="/template/37">What basic cultural norms do you think foreigners should know about working with people in {COUNTRY}, as compared to Asia in general?</a></li>
		<li><a href="/template/38">What are some of the most common mannerisms when meeting with people?</a></li>
		<li><a href="/template/39">When people go out to eat or drink together, how is it decided who pays? </a></li>
	</ul>
	<h3>Individualism</h3>
	<ul>
		<li><a href="/template/40">As compared to American individualism, {COUNTRY} is more of a community/group-focused culture. Describe these differences from a local point of view.</a></li>
	</ul>
	<h3>Local differences</h3>
	<ul>
		<li><a href="/template/41">What are the cultural differences between people in {COUNTRY} and Cambodia?</a></li>
		<li><a href="/template/42">What are the cultural differences between people in {COUNTRY} and China?</a></li>
		<li><a href="/template/43">What are the cultural differences between people in {COUNTRY} and Hong Kong?</a></li>
		<li><a href="/template/44">What are the cultural differences between people in {COUNTRY} and India?</a></li>
		<li><a href="/template/45">What are the cultural differences between people in {COUNTRY} and Indonesia?</a></li>
		<li><a href="/template/46">What are the cultural differences between people in {COUNTRY} and Japan?</a></li>
		<li><a href="/template/47">What are the cultural differences between people in {COUNTRY} and Korea?</a></li>
		<li><a href="/template/48">What are the cultural differences between people in {COUNTRY} and Malaysia?</a></li>
		<li><a href="/template/49">What are the cultural differences between people in {COUNTRY} and Mongolia?</a></li>
		<li><a href="/template/50">What are the cultural differences between people in {COUNTRY} and Myanmar?</a></li>
		<li><a href="/template/51">What are the cultural differences between people in {COUNTRY} and Philippines?</a></li>
		<li><a href="/template/52">What are the cultural differences between people in {COUNTRY} and Singapore?</a></li>
		<li><a href="/template/53">What are the cultural differences between people in {COUNTRY} and Sri Lanka?</a></li>
		<li><a href="/template/54">What are the cultural differences between people in {COUNTRY} and Taiwan?</a></li>
		<li><a href="/template/55">What are the cultural differences between people in {COUNTRY} and Thailand?</a></li>
		<li><a href="/template/56">What are the cultural differences between people in {COUNTRY} and Vietnam?</a></li>
		<li><a href="/template/57">What are the cultural differences between people in {COUNTRY} and the United States?</a></li>
	</ul>
	<h3>Personal attitudes towards foreigners</h3>
	<ul>
		<li><a href="/template/58">How do people view foreign tourists in {COUNTRY}?</a></li>
		<li><a href="/template/59">What is the common opinion about foreign workers coming to {COUNTRY} to work? Is it a business threat? Is it a cultural threat?</a></li>
		<li><a href="/template/60">What is the common opinion about foreign entrepreneurs coming to {COUNTRY} to set up a business?</a></li>
		<li><a href="/template/61">Which foreigners are generally most welcome? Which foreigners are generally least welcome?</a></li>
	</ul>
	<h3>What to wear</h3>
	<ul>
		<li><a href="/template/62">What is the most appropriate business/meeting clothing for men in {COUNTRY}? What would be considered too casual or disrespectful?</a></li>
		<li><a href="/template/63">What is the most appropriate business/meeting clothing for women in {COUNTRY}? What would be considered too casual or disrespectful?</a></li>
		<li><a href="/template/64">How can you tell by their clothing that someone is high-status or low-status?</a></li>
	</ul>
	<h3>Attitude towards time and promises</h3>
	<ul>
		<li><a href="/template/65">What is the {COUNTRY} attitude towards punctuality? For example, if two people agreed on an 11:00 business meeting, what time range to arrive would be considered acceptable? What is considered late?</a></li>
		<li><a href="/template/66">What is the {COUNTRY} attitude towards promises? Are you expected to stick to your promise, no matter what? Or is it common to change your mind?</a></li>
	</ul>
	<h3>Common conversational references</h3>
	<ul>
		<li><a href="/template/67">What is a common {COUNTRY} expression that a foreigner might not understand?</a></li>
	</ul>
	<h3>How to blend in</h3>
	<ul>
		<li><a href="/template/68">How can a foreigner blend in to {COUNTRY}? What advice would you give foreigners on how not to stick out so much?</a></li>
		<li><a href="/template/69">How can a foreigner become a part of the business community in {COUNTRY}? What is a good way to meet many people and make connections?</a></li>
	</ul>
	<h3>When not to blend in</h3>
	<ul>
		<li><a href="/template/70">Is it best for a foreigner doing business in {COUNTRY} to blend in? Or is there an advantage to not blending in?</a></li>
	</ul>
	<h3>Recommended reading/watching</h3>
	<ul>
		<li><a href="/template/71">What books, magazines, newspapers, or websites would you recommend a foreign entrepreneur read to better understand {COUNTRY} and its business environment?</a></li>
	</ul>
<h2>Life</h2>
	<h3>Quality of life</h3>
	<ul>
		<li><a href="/template/72">Describe the general quality of life in {COUNTRY} (utilities, cleanliness, safety, amenities, physical comfort.)</a></li>
		<li><a href="/template/73">Which parts of {COUNTRY} have the nicest quality of life? Which parts have the worst?</a></li>
	</ul>
	<h3>Cost of living</h3>
	<ul>
		<li><a href="/template/74">What is the average cost of rent for a 1-bedroom (unfurnished) apartment? What is the average cost for an unfurnished small house (or large apartment) for a 5-person family?</a></li>
		<li><a href="/template/75">What would it cost per-month for one person to live a nice, but not luxurious, life in {COUNTRY}? Include food, utilities, transportation.</a></li>
		<li><a href="/template/76">What length of time is a usual contract when renting an apartment or house?</a></li>
	</ul>
	<h3>Western standards vs local standards</h3>
	<ul>
		<li><a href="/template/77">How does the general quality of life in {COUNTRY} compare to America, Australia, or Europe? (utilities, cleanliness, safety, amenities, physical comfort.)</a></li>
		<li><a href="/template/78">What safety precautions would you recommend for a foreigner?</a></li>
	</ul>
	<h3>Language / English proficiency</h3>
	<ul>
		<li><a href="/template/79">Do most people in the cities of {COUNTRY} speak English?</a></li>
		<li><a href="/template/80">If someone came to {COUNTRY} only speaking English, how difficult would it be to live and work?</a></li>
		<li><a href="/template/81">Is it common for merchants to charge foreigners more if they speak in English?</a></li>
	</ul>
	<h3>Safety</h3>
	<ul>
		<li><a href="/template/82">Which parts of {COUNTRY} are safest? Which parts are unsafe?</a></li>
		<li><a href="/template/83">How do people in {COUNTRY} deal with petty crimes like theft?</a></li>
		<li><a href="/template/84">How can one generally distinguish friend from foe? Any signs to consider, or scams to beware of?</a></li>
	</ul>
	<h3>Immigration / Visa</h3>
	<ul>
		<li><a href="/template/85">How can a foreign entrepreneur live and work in {COUNTRY} for a few years? Do they need a work visa, investor visa, tourist visa, or something else?</a></li>
		<li><a href="/template/86">How can someone get a visa to live in {COUNTRY} long-term?</a></li>
	</ul>
	<h3>Where to live (short-term and long-term)</h3>
	<ul>
		<li><a href="/template/87">What are some serviced apartments or furnished homes in the business district that can be rented month-by-month, for short-term (say 3 month) visits?</a></li>
		<li><a href="/template/88">Where should someone live to be in the middle of the most business, the most action, and to meet the most people? What specific neighborhoods?</a></li>
		<li><a href="/template/89">Where should someone live to be near to the business action, but to be a little outside, in a neighborhood that’s better for children?</a></li>
		<li><a href="/template/90">What are some places a foreigner should not stay, because of their lack of proximity, safety, or other reasons?</a></li>
	</ul>
	<h3>Typical living arrangements</h3>
	<ul>
		<li><a href="/template/91">What is a typical living arrangement in {COUNTRY}? Do most people live in houses or apartments?</a></li>
		<li><a href="/template/92">Do families usually live together with parents, grandparents, kids, and siblings - or do they tend to live separately?</a></li>
	</ul>
	<h3>Transportation</h3>
	<ul>
		<li><a href="/template/93">How do working people normally get around? (Car? Bus? Train? Taxi? Bicycle? Walk?)</a></li>
		<li><a href="/template/94">What is the recommended transportation for someone coming to work in {COUNTRY}?</a></li>
	</ul>
	<h3>Internet / Phone</h3>
	<ul>
		<li><a href="/template/95">What are the most popular mobile phone/data providers in {COUNTRY}?  Which one would you recommend?</a></li>
		<li><a href="/template/96">How much does it cost for a basic broadband (cable/fiber) internet connection in a home or office?</a></li>
		<li><a href="/template/97">How much does it cost for a mobile data plan (3G) for heavy internet use through a mobile phone?</a></li>
	</ul>
	<h3>Food</h3>
	<ul>
		<li><a href="/template/98">What’s the typical cuisine of {COUNTRY}?</a></li>
		<li><a href="/template/99">Is it easy to find Western food? Are there Western restaurants? Western food in supermarkets?</a></li>
		<li><a href="/template/100">What’s the etiquette of using your hands or utensils for eating? Any inappropriate manners that foreigners often have?</a></li>
	</ul>
	<h3>Credit card? Cash? Check?</h3>
	<ul>
		<li><a href="/template/101">How do most people pay for things? Cash? Credit card? Check? Something else?</a></li>
		<li><a href="/template/102">What is the easiest way to get cash in {COUNTRY}? Are ATMs the best option?</a></li>
	</ul>
	<h3>Availability of products/services</h3>
	<ul>
		<li><a href="/template/103">What goods and services that Western people are used to are not available in {COUNTRY}?</a></li>
	</ul>
	<h3>What’s not online</h3>
	<ul>
		<li><a href="/template/104">What kinds of day-to-day necessary things do people do online? (meaning: not just fun/social, but like online banking, shopping, paying bills, using maps/location services, etc.)</a></li>
	</ul>
	<h3>Differences in service standards</h3>
	<ul>
		<li><a href="/template/105">What’s the difference in customer service between US/Australia/Europe and {COUNTRY}? More service? Less service?</a></li>
		<li><a href="/template/106">Is good customer service a necessary part of successful business dealings?</a></li>
	</ul>
	<h3>Expat community</h3>
	<ul>
		<li><a href="/template/107">Are there a lot of foreign expats in {COUNTRY}?</a></li>
		<li><a href="/template/108">Where do expats live in {COUNTRY}?</a></li>
		<li><a href="/template/109">Where do expats hang out in {COUNTRY}?</a></li>
	</ul>
	<h3>Recommended resources</h3>
	<ul>
		<li><a href="/template/110">What are some good books that describe the life and culture of {COUNTRY}?</a></li>
		<li><a href="/template/111">What are some good internet resources that help describe life in {COUNTRY}?</a></li>
	</ul>
<h2>Business Culture</h2>
	<h3>Mindset</h3>
	<ul>
		<li><a href="/template/112">Summarize the business mindset of people in {COUNTRY}. Ruthless? By-the-book? Improvisational? Considerate?</a></li>
		<li><a href="/template/113">Are there any particular business dealings that foreigners should not get involved in?</a></li>
	</ul>
	<h3>Understanding “face”</h3>
	<ul>
		<li><a href="/template/114">Foreigners sometimes don’t understand the Asian concept of “face” (dignity / prestige). How would you explain “face”?</a></li>
		<li><a href="/template/115">How is “face” (dignity / prestige) a part of {COUNTRY} business culture? Give examples.</a></li>
	</ul>
	<h3>Direct vs indirect communication</h3>
	<ul>
		<li><a href="/template/116">Give examples of direct (saying exactly what is meant) versus indirect (gestures, avoidance, vague language) communication style in {COUNTRY}.</a></li>
		<li><a href="/template/117">Is direct communication (saying exactly what is meant) considered rude?</a></li>
		<li><a href="/template/118">How can someone understand the meaning behind indirect communication? Any hints to help translate?</a></li>
	</ul>
	<h3>How to tell “yes” from “no”</h3>
	<ul>
		<li><a href="/template/119">People used to very direct communication find it hard to understand when someone with a more indirect communication style has told them “yes” or “no”. Give examples of some indirect statements that actually mean “yes”, and indirect statements that actually mean “no”.</a></li>
	</ul>
	<h3>Hierarchy</h3>
	<ul>
		<li><a href="/template/120">How important is hierarchy in business in {COUNTRY}?</a></li>
		<li><a href="/template/121">Is it disrespectful for a foreigner to deal in business with a certain class of people?</a></li>
		<li><a href="/template/122">Give an example of a business situation where the norms of hierarchy are not followed, (by a foreigner who doesn’t understand), and explain how they should be followed according to the norms of {COUNTRY}.</a></li>
	</ul>
	<h3>Who to speak with in organizations</h3>
	<ul>
		<li><a href="/template/123">When a foreigner wants to do business with a {COUNTRY} company, who should they contact? Go directly to the top? Start in the middle?</a></li>
		<li><a href="/template/124">Are personal recommendations important in doing business with new companies or can they be reached purely on a basis of business?</a></li>
	</ul>
	<h3>Business attitudes towards foreigners</h3>
	<ul>
		<li><a href="/template/125">What is the general attitude of businesses in {COUNTRY} towards foreigners coming to {COUNTRY} to do business?</a></li>
	</ul>
	<h3>Signals of respect</h3>
	<ul>
		<li><a href="/template/126">What are some social etiquette actions that show respect for someone?</a></li>
		<li><a href="/template/127">What are some social actions that would be taken as disrespectful?</a></li>
		<li><a href="/template/128">How do people in {COUNTRY} express anger? Do they usually stay quiet or express their feelings openly?</a></li>
		<li><a href="/template/129">How do people view laughter in {COUNTRY}? What kinds of jokes are not acceptable?</a></li>
	</ul>
	<h3>How to build trust</h3>
	<ul>
		<li><a href="/template/130">How can a foreigner doing business in {COUNTRY} build trust with local businesses or people?</a></li>
		<li><a href="/template/131">Is it important to make local friends in order to spread your business?</a></li>
	</ul>
	<h3>Introductions</h3>
	<ul>
		<li><a href="/template/132">What is the standard polite way of doing business introductions? (If someone asks you to introduce them to another business person you know.)</a></li>
	</ul>
	<h3>Business cards</h3>
	<ul>
		<li><a href="/template/133">How important are business cards (name cards) in {COUNTRY}? Do most people have them?</a></li>
		<li><a href="/template/134">What is the standard business card format in {COUNTRY}? What information goes on it?</a></li>
		<li><a href="/template/135">Are there proper manners for how to give your business card to someone, and how to receive someone’s card?</a></li>
	</ul>
	<h3>Negotiation</h3>
	<ul>
		<li><a href="/template/136">Give some insight and advice about business negotiations in {COUNTRY}.</a></li>
	</ul>
	<h3>Signaling success</h3>
	<ul>
		<li><a href="/template/137">How can you tell that a person is successful? Clothing? Manners? Neighborhood? Events? Friends?</a></li>
	</ul>
	<h3>Innovation vs status quo</h3>
	<ul>
		<li><a href="/template/138">Do you feel that business in {COUNTRY} is attracted to innovation, or attracted to the status quo?</a></li>
	</ul>
	<h3>Passing-through vs Full-time</h3>
	<ul>
		<li><a href="/template/139">Is there a stigma against business people that are just passing through {COUNTRY}, looking for opportunities, versus foreigners who live there?</a></li>
		<li><a href="/template/140">What advantages do foreigners who live full-time in {COUNTRY} have over those who just visit?</a></li>
	</ul>
	<h3>Advantages to foreigners</h3>
	<ul>
		<li><a href="/template/141">What advantages do foreigners have (versus locals) when doing business in {COUNTRY}?</a></li>
	</ul>
	<h3>Advantages to locals</h3>
	<ul>
		<li><a href="/template/142">What advantages do local people have (versus foreigners) when doing business in {COUNTRY}?</a></li>
	</ul>
	<h3>Risks</h3>
	<ul>
		<li><a href="/template/143">What are the top risks of doing business in {COUNTRY}? </a></li>
	</ul>
	<h3>Corruption</h3>
	<ul>
		<li><a href="/template/144">How pervasive is corruption in business in {COUNTRY}?</a></li>
	</ul>
<h2>Government</h2>
	<h3>General role of government</h3>
	<ul>
		<li><a href="/template/145">How involved is the government in the dealings of small business?</a></li>
		<li><a href="/template/146">Is the government of {COUNTRY} open to foreign businesses or restrictive?</a></li>
	</ul>
	<h3>Who’s who: departments you need to know</h3>
	<ul>
		<li><a href="/template/147">What government departments will a small business probably need to interact with?</a></li>
		<li><a href="/template/148">What are some government regulations that need to be considered by foreign businesses?</a></li>
	</ul>
	<h3>What the government is emphasizing now</h3>
	<ul>
		<li><a href="/template/149">In which sectors is the government emphasizing development now? Any current mission or push?</a></li>
	</ul>
	<h3>Incentives</h3>
	<ul>
		<li><a href="/template/150">What government incentives are available to new or small businesses now?</a></li>
		<li><a href="/template/151">Do many small businesses use government incentives?</a></li>
	</ul>
	<h3>Grants</h3>
	<ul>
		<li><a href="/template/152">What government grants are available to new or small businesses now?</a></li>
		<li><a href="/template/153">Do many small businesses use government grants?</a></li>
	</ul>
<h2>Business Setup</h2>
	<h3>Ease of doing business</h3>
	<ul>
		<li><a href="/template/154">How does {COUNTRY} rank on the “Ease of Doing Business” index?</a></li>
		<li><a href="/template/155">What’s the hardest part about doing business in {COUNTRY}?</a></li>
		<li><a href="/template/156">What’s the easiest part about doing business in {COUNTRY}?</a></li>
	</ul>
	<h3>Local partners?</h3>
	<ul>
		<li><a href="/template/157">If a foreigner is starting a business in {COUNTRY}, is it required to have a local partner? Or does the government allow foreign-controlled businesses?</a></li>
	</ul>
	<h3>Business structure choice</h3>
	<ul>
		<li><a href="/template/158">What are the options for business structures in {COUNTRY}? (Sole proprietor? Partnership? Corporation? Other?)</a></li>
		<li><a href="/template/159">What are the advantages and disadvantages of each kind of business structure in {COUNTRY}?</a></li>
	</ul>
	<h3>Business name choice</h3>
	<ul>
		<li><a href="/template/160">Any advice on naming a business in {COUNTRY}?</a></li>
		<li><a href="/template/161">What are some mistakes that foreign businesses have made when naming a business in {COUNTRY}?</a></li>
	</ul>
	<h3>Timeline</h3>
	<ul>
		<li><a href="/template/162">How long does it generally take to incorporate a business structure in {COUNTRY}?</a></li>
	</ul>
	<h3>Cost</h3>
	<ul>
		<li><a href="/template/163">What does it cost to incorporate a business structure in {COUNTRY}? (Including all service fees, helper fees, government fees, etc.)</a></li>
	</ul>
	<h3>Incorporating</h3>
	<ul>
		<li><a href="/template/164">How does a foreigner create a business structure in {COUNTRY}?</a></li>
	</ul>
	<h3>Where to locate</h3>
	<ul>
		<li><a href="/template/165">How should a new business decide where to locate in {COUNTRY}?</a></li>
	</ul>
	<h3>Real estate</h3>
	<ul>
		<li><a href="/template/166">How much does it cost to rent a typical 4-person office space in {COUNTRY}? Give a range from center-city expensive to outlying-area cheap.</a></li>
		<li><a href="/template/167">Can a foreign investor easily buy property for business in {COUNTRY} or is renting the only option?</a></li>
	</ul>
	<h3>Big city vs outlying areas</h3>
	<ul>
		<li><a href="/template/168">What are the advantages and disadvantages of locating a new business in the big city versus the outlying areas?</a></li>
	</ul>
	<h3>What your location says about your business</h3>
	<ul>
		<li><a href="/template/169">Does business location (center of biggest city versus outlying areas) communicate something about the business itself?</a></li>
		<li><a href="/template/170">Which neighborhood or street has the most prestige?</a></li>
	</ul>
	<h3>Utilities</h3>
	<ul>
		<li><a href="/template/171">How can a new office get set up with electricity, internet, phone, and other important utilities?</a></li>
		<li><a href="/template/172">Will a foreigner have a problem getting utilities for the business? If so, what solution would you recommend?</a></li>
	</ul>
	<h3>Permits</h3>
	<ul>
		<li><a href="/template/173">How can a new business find out which permits are necessary to do their business?</a></li>
		<li><a href="/template/174">How can a new business get all the permits they need?</a></li>
	</ul>
	<h3>Contracts</h3>
	<ul>
		<li><a href="/template/175">Are contracts respected in {COUNTRY}? Or are they often ignored if need be?</a></li>
	</ul>
	<h3>Lawyers</h3>
	<ul>
		<li><a href="/template/176">Which lawyers or law firms are best to help foreign entrepreneurs in {COUNTRY}?</a></li>
	</ul>
	<h3>Accountants</h3>
	<ul>
		<li><a href="/template/177">Which accountants or accountancy firms are best to help foreign entrepreneurs in {COUNTRY}?</a></li>
	</ul>
	<h3>Paying taxes</h3>
	<ul>
		<li><a href="/template/178">What are the current tax rates for businesses in {COUNTRY}?</a></li>
		<li><a href="/template/179">Are the taxes different in different regions in {COUNTRY}?</a></li>
		<li><a href="/template/180">How do business owners pay their taxes?</a></li>
	</ul>
	<h3>Ongoing requirements</h3>
	<ul>
		<li><a href="/template/181">Besides paying taxes, what ongoing maintenance bureaucracy is required by the government for small businesses?</a></li>
	</ul>
	<h3>Recommended resources</h3>
	<ul>
		<li><a href="/template/182">What books describe doing business in {COUNTRY}?</a></li>
		<li><a href="/template/183">What internet resources help someone doing business in {COUNTRY}?</a></li>
	</ul>
<h2>Hiring</h2>
	<h3>Local talent strengths</h3>
	<ul>
		<li><a href="/template/184">What are the main strengths of the local talent in {COUNTRY}? Any particular skills or fields more developed or emphasized?</a></li>
	</ul>
	<h3>Hiring local people</h3>
	<ul>
		<li><a href="/template/185">What is the best way to hire local employees?</a></li>
	</ul>
	<h3>How much to pay?</h3>
	<ul>
		<li><a href="/template/186">What is the average salary for a mildly skilled worker in {COUNTRY}? (Say: basic administrative tasks.)</a></li>
		<li><a href="/template/187">What is the average salary for a very skilled worker in {COUNTRY}? (Say: an experienced manager.)</a></li>
	</ul>
	<h3>How to find good people?</h3>
	<ul>
		<li><a href="/template/188">What’s the best way to find and hire exceptionally smart and talented workers in {COUNTRY}?</a></li>
	</ul>
	<h3>Online vs offline</h3>
	<ul>
		<li><a href="/template/189">How much of the finding and hiring of employees is done online? Is it rare or common to have job openings posted online?</a></li>
		<li><a href="/template/190">What websites do people use for posting jobs / finding jobs / hiring employees?</a></li>
	</ul>
	<h3>Hiring foreign people</h3>
	<ul>
		<li><a href="/template/191">How can a {COUNTRY} business hire a foreign employee? What are the requirements, steps, costs, and time?</a></li>
	</ul>
	<h3>Step-by-step process</h3>
	<ul>
		<li><a href="/template/192">What processes or documents are required for hiring an employee?</a></li>
	</ul>
	<h3>Labor laws</h3>
	<ul>
		<li><a href="/template/193">What hours do most people work? (9am-5pm?)  What days do most people work? (Monday-Friday? Also Saturday?)</a></li>
		<li><a href="/template/194">Is it very common to work overtime?  (Extra hours at night, or extra days per week?)</a></li>
		<li><a href="/template/195">Give a summary of the most important labor laws in {COUNTRY} - that a small-business employer should know.</a></li>
	</ul>
	<h3>Payroll</h3>
	<ul>
		<li><a href="/template/196">What processes or documents are required for paying an employee? Do taxes need to be withheld or paid? Any ongoing forms to file?</a></li>
	</ul>
	<h3>Unions</h3>
	<ul>
		<li><a href="/template/197">Are there labor unions in {COUNTRY} that will affect employees of small business?</a></li>
	</ul>
	<h3>Firing</h3>
	<ul>
		<li><a href="/template/198">What processes or documents are required for firing an employee?</a></li>
	</ul>
	<h3>Recommended resources</h3>
	<ul>
		<li><a href="/template/199">What local companies or people can help with hiring?</a></li>
	</ul>
<h2>Money</h2>
	<h3>Banking overview</h3>
	<ul>
		<li><a href="/template/200">Give an overview of the availability and quality of small-business banking in {COUNTRY}.</a></li>
	</ul>
	<h3>Bank comparison</h3>
	<ul>
		<li><a href="/template/201">Compare the top three choices for small business banking in {COUNTRY}. Funds required? Costs? Online access? Visa/Mastercard debit card given?</a></li>
	</ul>
	<h3>How to open an account</h3>
	<ul>
		<li><a href="/template/202">What requirements do the banks have for opening a business account?</a></li>
		<li><a href="/template/203">Any additional requirements for a foreigner to open a business bank account?</a></li>
	</ul>
	<h3>Online banking</h3>
	<ul>
		<li><a href="/template/204">How much of banking can be done online? Outgoing payments? International wires (telegraphic transfer)?</a></li>
	</ul>
	<h3>Paying employees</h3>
	<ul>
		<li><a href="/template/205">What is the usual way for a business to pay employees in {COUNTRY}? What payment method and how often?</a></li>
	</ul>
	<h3>Paying vendors</h3>
	<ul>
		<li><a href="/template/206">What is the usual way for a business to pay vendors in {COUNTRY}? Bank transfer? Paper check? Visa/Mastercard?</a></li>
	</ul>
	<h3>Getting a bank loan</h3>
	<ul>
		<li><a href="/template/207">How can a small business get a bank loan in {COUNTRY}?</a></li>
	</ul>
	<h3>Getting investors</h3>
	<ul>
		<li><a href="/template/208">How can a small business get investors in {COUNTRY}?</a></li>
	</ul>
	<h3>What if they don’t pay?</h3>
	<ul>
		<li><a href="/template/209">What legal procedures should be followed to ensure that customers pay as promised?</a></li>
		<li><a href="/template/210">If customers don’t pay, what methods are used to get them to pay?</a></li>
	</ul>
<h2>Industry sectors</h2>
	<h3>Industries</h3>
	<ul>
		<li><a href="/template/211">What are the main exports of {COUNTRY}?</a></li>
		<li><a href="/template/212">What industries are very well-developed in {COUNTRY}?</a></li>
	</ul>
	<h3>What’s missing?</h3>
	<ul>
		<li><a href="/template/213">What industries are not very well-developed in {COUNTRY}, and have much room to grow?</a></li>
		<li><a href="/template/214">What useful services or products are missing in {COUNTRY} now?</a></li>
		<li><a href="/template/215">What industries have the most opportunity in {COUNTRY} right now?</a></li>
	</ul>
	<h3>What’s unique?</h3>
	<ul>
		<li><a href="/template/216">What services or products are unique to {COUNTRY}? Any particular business or service that exists in {COUNTRY}, that you’ve never heard of anywhere else?</a></li>
	</ul>
<h2>Growing the Business</h2>
	<h3>Marketing</h3>
	<ul>
		<li><a href="/template/217">What methods do local businesses use for marketing their business?</a></li>
		<li><a href="/template/218">What language should local marketing use?</a></li>
	</ul>
	<h3>Expanding outside the country</h3>
	<ul>
		<li><a href="/template/219">Do many businesses in {COUNTRY} expand outside the country?</a></li>
		<li><a href="/template/220">What are the best ways to sell local products from {COUNTRY} to other countries?</a></li>
		<li><a href="/template/221">Are there any government regulations concerning exports?</a></li>
		<li><a href="/template/222">What are some of the ways to open a franchise in {COUNTRY}?</a></li>
		<li><a href="/template/223">Can investors transfer their existing business in {COUNTRY}?</a></li>
	</ul>

