<section id="register">

<h1>Thank you <%=h(@person[:address])%>!</h1>

<p>I process all registrations by hand, every day or two. But if you want me to hurry, just email <strong>derek@sivers.org</strong>.</p>

<p>I will email <strong><%=h(@person[:email])%></strong> from <strong>derek@sivers.org</strong>.</p>

<p>Once I do, you can log in and have full access.</p>

<p><em> - Derek Sivers, owner, Wood Egg</em></p>
<a href="http://sivers.org/"><img alt="Derek Sivers" width="200" height="200" src="/images/DerekSivers-20141119-200.jpg"></a>

</section>
