<blockquote cite="http://musicthoughts.com/t/<%= thought[:id] %>">
	<q><%= h(thought[:thought]).gsub("\n", '<br>') %></q>
	<cite><a href="/t/<%= thought[:id] %>"><%=h thought[:author][:name] %></a></cite>
</blockquote>

