<h1><%= t.top_s.to_s % t.contributors.to_s %></h1>
<ul class="linklist">
<% @contributors.each do |contributor| %>
	<li><a href="/contributor/<%= contributor[:id] %>"><%=h contributor[:name] %></a> <small>(<%= contributor[:howmany] %>)</small></li>
<% end %>
</ul>

