$break-small: 400px;

body {
	max-width: 40em;
	margin: 0 auto;
	padding: 5px;
	font-family: sans-serif;
	font-size: 17px;
	line-height: 24px;
	color: #000;
}

h1, h2, h3, h4, article p, article li {
	font-family: Georgia, serif;
}

article p, article li {
	font-size: 20px;
	line-height: 30px;
}

a {
	text-decoration: none;
	color: #20b;
}

a:visited {
	color: #606;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, small, .small, p.postdate, footer, input[type="submit"], label, dl#tweetlist dt {
	line-height: 1em;
}

small, .small {
	font-size: 0.8em;
	font-weight: normal;
}

.spacer {
	clear: both;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea {
	padding: 0.5em 0.6em;
	display: block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select, textarea {
	outline: 0;
	border-color: #129FEA;
}

input[type="submit"] {
	padding: 5px;
	font-size: 1em;
	background: #800;
	color: #fff;
	font-weight: bold;
}

form.inlineform input {
	display: inline;
}

select {
	height: 2.25em;
	border: 1px solid #ccc;
	background-color: #fff;
}

label {
	margin: 0.5em 0 0.2em;
}

section#masthead {
	@media screen and (max-width: $break-small) {
		h1 { font-size: 2em; }
	}
	@media screen and (min-width: $break-small) {
		h1 { font-size: 3em; }
	}
	h1 {
		margin: 0;
		a {
			text-decoration: none;
			color: #800;
			img {
				margin-right: 5px;
			}
		}
	}
	small {
		display: block;
		line-height: 1em;
	}
}

div#content {
	h1 {
		font-size: 2em;
	}
	h1, h2, h3, cite {
		color: #800;
	}
	li, dd {
		margin-bottom: 1em;
	}
	pre {
		color: #fff;
		background-color: #333;
		padding: 0.25em;
		line-height: 1;
	}
	code {
		font-size: 0.8em;
	}
	article {
		img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}
}

section {
	margin-bottom: 4em;
}
section#masthead {
	margin-bottom: 1em;
}

body#home div#content {
	h2 small {
		font-size: 70%;
		font-weight: normal;
		margin-left: 2em;
	}
	ul {
		padding-left: 0;
		li {
			list-style-type: none;
		}
	}
}

div.blogparent {
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0 -0.5em 0;
}

body#oneblog div#content article {
	header {
		h1 a {
			text-decoration: none;
		}
		p {
			margin-top: -1em;
		}
	}
	h2, h3 {
		margin-top: 2em;
	}
}

div#comments {
	ol {
		padding-left: 1em;
	}
	li {
		margin-bottom: 2em;
	}
	span.response {
		display: block;
		margin-left: 1em;
		padding: 4px;
		background-color: #ffc;
		border: 1px solid #000;
		font-family: sans-serif;
		font-size: 14px;
	}
}

body#booklist, body#onebook {
	figure {
		img {
			float: left;
			margin-right: 2em;
		}
	}
}

body#booklist figure {
	margin: 0 0 8em 0;
}
body#onebook figure {
	margin: 0;
}
body#interview blockquote {
	margin: 0;
}
body#home dt, body#code dt, body#music dt {
	font-weight: bold;
}
dl#tweetlist dt {
	font-weight: normal;
}

div.presentation_summary {
	margin-bottom: 6em;
	@media screen and (max-width: $break-small) {
		img { display: block; }
	}
	@media screen and (min-width: $break-small) {
		img { float: right; }
	}
}

p.postdate, footer, dl#tweetlist dt {
	font-size: 80%;
	color: #666;
}

