<h1>Help</h1>

<h2>How to use this?</h2>
<p>
Click on the question to see the different researchers’ answers to that question.  A line separates each person’s answers.  Below all their research is a box for you to write your essay.
</p><p>
While you are typing into the box, click [SAVE] at any time to save your work. Like saving a Word document, it won’t change the screen, it just makes sure that your answer is saved, so you don’t lose your work if you get interrupted.
</p><p>
Once you [SAVE], you can come back to it any time to continue it or change it.  It’s permanently saved under your email + ID# login information.
</p><p>
If you choose to write in Word, outside the web page, just paste your text into this form box, but please note that all text is just saved as plain text, no formatting.
</p><p>
Click [FINISHED] when you’re done.  You can still edit it later, but when both questions are marked [FINISHED], that’s when we’ll read what you’ve written.
</p>

<h2>What to write?</h2>
<p>
Please read <a href="http://woodegg.s3.amazonaws.com/SriLanka-example.html">this Sri Lanka article</a> for a good example of tone.  (Well, except for that pandering “Make a fortune” headline.)  Practical, personal, friendly, optimistic, useful. My whole idea for the <a href="http://woodegg.com/">Wood Egg book series</a> was inpired by this article! In other words: the books are meant to be an in-depth version of this article.
</p><p>
No corporate MBA puffery.  No word-count-padding nonsense filler.  As simple as can be, but no simpler.  Don’t omit useful info, but don’t add unnecessary words.  There is no ideal length.  (Since this is an e-book, we don’t care how many words or pages.  Just keep it interesting and helpful.)
</p><p>
Write to one person: a person thinking of moving to this country and starting a business there.  Write like you would speak to a friend.  Write what you would want to read if you were this person.
</p><p>
You don’t have to use all of the the researchers’ info.  Use an editor’s judgement to decide what’s worth including.  Feel free to keep their exact wording if it works, or feel free to change it all.
</p><p>
If a researcher wrote something you think is wrong, you don’t have to include it!  But if they wrote something correct, that might be helpful, even if you disagree with it, consider including it as an alternate point of view.  (“Some people believe _____.”)
</p><p>
And lastly, if you think something important is missing, feel free to include it in your essay now.  In the final interface, I'll have a way for you to easily add some of your own facts as “research” before writing your final answer.
</p>

<h2>Formatting</h2>
<p>
In the real live project, we use a plain text style called <a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a>.  That will help make headers, bold print, and clickable URLs.  But for this test, we’re just doing plain text, so don’t worry about the formatting.  We’re just looking at your words.
</p>

<h2>Any other questions?</h2>
<p>
Just email <a href="mailto:derek@sivers.org">derek@sivers.org</a> and I’ll be happy to help.
</p>
