<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Wood Egg Writer Test: <%= @pagetitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/css/login.css" type="text/css" media="screen" />
</head>
<body id="wt">

<div class="navbar"><div class="navbar-inner"><div class="container">
<a class="brand" href="/wt/">Wood Egg writer test</a>
<ul class="nav">
	<li><a href="/wt/help">HELP</a></li>
</ul>   
</div></div></div>

<div class="container">

<%= yield %>

</div>
</body>
</html>
