<section id="getpass">

<h1>get a new password</h1>

<p>Send a password-reset link to your email address on file:</p>

<form action="/getpass" method="post" name="login">
	<label for="email">your email address:</label>
	<input id="email" type="email" name="email" placeholder="email">
	<input type="submit" value="email it">
</form>
<script>
document.login.email.focus();
</script>

</section>

