/* 
pure-menus.scss
pure-tables.scss
@import 'pure/buttons.scss';
*/
@import 'pure/base.scss';
@import 'pure/grids.scss';
@import 'pure/grids-responsive.scss';
@import 'pure/forms.scss';

nav#navigation {
	background-color: #000;
	a {
		color: #fff;
		margin-right: 2em;
	}
	ul {
		margin: 0;
	}
	li {
		display: inline;
	}
}
#content {
	@extend .pure-g;
	width: 98%;
	margin: 0 auto;
	font-family: Arial;
	font-size: 13px;
}
section#home, section#unknown, section#emails, section#search, section#formletters, section#people, section#where, section#stats, section#merge, section#login, section#times {
	@extend .pure-u-1;
}
section#atkeys, section#inkeys {
	@extend .pure-u-1-2;
	form {
		display: inline;
	}
	dt {
		margin-top: 1em;
		font-size: 1.4em;
	}
}

section#showemail {
	@extend .pure-u-1;
	@extend .pure-u-md-1-3;
	@extend .pure-u-lg-2-3;
	background-color: #eef;
}
section#showai {
	@extend .pure-u-1;
	@extend .pure-u-md-1-3;
	@extend .pure-u-lg-1-6;
	background-color: #efe;
}
section#showperson {
	@extend .pure-u-1;
	@extend .pure-u-md-1-3;
	@extend .pure-u-lg-1-6;
	background-color: #ffd;
}
form {
	@extend .pure-form;
}
#personeditform, #replyform, #urladd, #statadd, #newemail, #addperson, #editformletter, section#login form {
	@extend .pure-form-stacked;
}
#urllist form, #statlist form {
	display: inline;
}
form#emailform textarea, form#editformletter textarea {
	height: 30em;
	font-size: 1.25em;
}
form#replyform textarea {
	height: 15em;
}
#emailactions form, #searchresults form {
	display: inline;
}
textarea {
	width: 98%;
}
input.longtext {
	width: 70%;
}
.big {
	font-size: 1.5em;
}
.hidden {
	display: none;
}
#showperson ul, ul#emailhistory {
	padding: 0;
	li {
		list-style-type: none;
		margin-bottom: 0.5em;
	}
}
#showai table, #times table {
	td, th {
		padding-right: 2em;
	}
}
button, input[type=submit] {
	margin: 0;
}

