@import 'pure/base.scss';
@import 'pure/menus-core.scss';
@import 'pure/menus-horizontal.scss';
@import 'pure/forms-nr.scss';

nav {
	background-color: #700;
	padding: 5px 0;
	@extend .pure-menu;
	@extend .pure-menu-horizontal;
	a {
		@extend .pure-menu-heading;
		@extend .pure-menu-link;
		color: #fff;
		margin-left: 10px;
		margin-right: 2em;
		font-weight: bold;
	}
	ul {
		@extend .pure-menu-list;
		li {
			@extend .pure-menu-item;
			a {
				@extend .pure-menu-link;
			}
		}
	}
}

section#content {
	margin-left: 10px;
	ul {
		padding: 0;
	}
	li {
		list-style-type: none;
	}
	td {
		padding: 1em 0.5em;
	}
}

form {
	@extend .pure-form;
	@extend .pure-form-stacked;
}

