<h1>About this research project</h1>
<p>
Please know that <strong>this is not a formal or corporate research project!</strong>
</p><p>
The audience for this research is just <strong>one person</strong> : the reader of <a href="http://woodegg.com/">a casual guide book</a>.
</p><p>
No board room.  No PowerPoint presentation.  No suits and no ties.
</p><p>
Just <strong>one person who is thinking of moving to a new country to start a new business.</strong>
</p><p>
So <strong>please write with that one person in mind.</strong>  Don't use very formal language.  <strong>Write like you would talk to a friend or colleague.  Give your personal opinion!</strong>
</p>

<h1>About this website</h1>
<p>
This is the system we made to answer the research questions.
</p><p>
It stores your answers in our database as you go, so we can see your progress and give feedback, instead of waiting until the end.
</p>

<h2>How to start</h2>
<p>
The questions are grouped into 10 topics.
When you log in, you will first <a href="/qa/">see the list of topics.</a>
<strong>Click on any topic to get its list of questions.</strong>
</p><p>
You can do the topics and questions in any order.
</p><p>
<strong>Click on the question you want to answer.</strong>
It will show you the question again, and ask if you’re ready to answer it.
</p><p>
<strong>When you’re ready to answer, click [ready]</strong>, and it will go to the answer page.
</p>

<h2>The Answer Page</h2>
<p>
The reason for this step is <strong>once you click [ready] to start answering a question, it will leave it open for you as an “unfinished” answer, until you answer it and click [FINISH].</strong>
</p><p>
Below the answer box is the <strong>sources</strong> box. Please always write where you got the information in your answer.
</p><p>
<strong>“Sources” doesn’t need to be formal.</strong>  For example, you could write “Friend with carpet business” or “http://en.wikipedia.org/wiki/Corporate_tax” or “My personal experience starting a phone contract last year.”
</p><p>
Please be specific, though, so if someone is questioning your information, we can show them the source of your answer.
</p>

<h2>SAVE while writing. FINISH when done.</h2>
<p>
While you are typing your answer or sources into the box, <strong>click [SAVE] at any time to save your work.</strong> Like saving a Word document, it won’t change the screen, it just makes sure that your answer is saved, so you don’t lose your work if you get interrupted.
</p><p>
Once you [SAVE], <strong>you can come back to it any time</strong> to continue it or change it.
</p><p>
But <strong>you need to click [FINISH] when done with each answer.  Please don’t wait until the end of the project!  Click [FINISH] each time you think you are finished with that one answer.</strong>
</p><p>
That will help me see your progress, and let me know I can look at your answer, and give feedback.
</p>

<h2>Status : Unfinished / Finished</h2>
<p>
Notice at the top of the screen is a count of how many “UNFINISHED” (started, but not finished) answers you have - and how many finished answers you have.
You can click those at any time to see your list of unfinished or finished questions.
</p><p>
<strong>You can always add more information to a finished question!</strong>  Just find it in the “Finished” list, click the question, and it will bring you back to the answer screen. But now it will have an [UPDATE] button instead of a [SAVE] button, to let you know you are updating something that is still considered finished.
</p><p>
<strong>You can keep updating finished answers any time</strong> until the project is all complete and paid.
</p><p>
I will go through the answers every day or two, and give feedback or suggestions.
</p><p>
Notice that once you answer a question, it’s not in the original list of questions anymore.  So you can use your <a href="/qa/">login page</a> as a “TO-DO” list of questions you still need to answer.
</p>

<h2>Email me at derek@sivers.org</h2>
<p>
If you have any questions at all, please email me at derek@sivers.org
</p><p>
Thank you!
</p><p>
- Derek Sivers
</p>

