<form class="well" action="login" method="get">
<input type="text" name="name" value="" />
<input type="password" name="password" value="" />
<input type="submit" class="btn btn-primary" name="go" value="log in" />
</form>
