  <h1>Forgot your password?</h1>
  
  <p>
  Enter the email address you used before, and I’ll email you a link to reset the password.
  </p>
  
  <form action="/u/forgot" method="post">
    <label for="email">Your Email:</label>
    <input type="email" name="email" id="email" value=""><br>
    <input type="submit" name="submit" value="Email me a reset link">
  </form>

