<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%=h @pagetitle %> | MuckWork</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/muck-client.css">
</head>
<body>
<nav id="navigation">
	<ul>
		<li><a href="/">home</a></li>
	<% if authorized? %>
		<li><a href="/account"><%=h @client[:name] %> account</a></li>
		<li><a href="/balance">balance</a></li>
		<li><a href="/logout">log out</a></li>
	<% end %>
	</ul>
</nav>
<div id="content">

<%= yield %>

</div>
</body>
</html>

