<section id="login">

<h1>make a new password</h1>

<form action="<%= @post2 %>" method="post" name="newpass">
	<label for="setpass">new password:</label>
	<input id="setpass" type="password" name="setpass" placeholder="password">
	<input type="submit" value="save new password">
</form>
<script>
document.newpass.password.focus();
</script>

</section>
