<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>lateral thinking</title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="/css/lat.css" />
</head>
<body>
<nav>
	<a href="/">lateral thinking</a>
	<ul>
		<li><a href="/concepts">concepts</a></li>
		<li><a href="/pairings">pairings</a></li>
	</ul>
</nav>
<section id="content">

<%= yield %>

</section>
</body>
</html>

