dt {
	margin: 2em 0 1em 0;
}
textarea {
	width: 100%;
}
h1 {
	margin-bottom: 0.5em;
}
h2 {
	margin: 1em 0 0.5em 0;
}
h4 {
	margin: 2em 0 1em 0;
}
#cleansite .container {
	width: 99%;
}
#cleansite #contentform {
	width: 48%;
}
#cleansite #markup {
	font-family: Georgia, serif;
	line-height: 1.5em;
	width: 48%;
}
#cleansite #contentform #essaycontent, #cleansite #markup {
	font-size: 1.2em;
	min-height: 35em;
	border: 1px solid #ccc;
	padding: 0.25em;
}
