<h2>Which book did you buy?</h2>

<form action="/a/proof" method="post" id="proofform">

<select name="book">
<option value="">... chose one ...</option>
<option value="we14kh">Cambodia 2014</option>
<option value="we14cn">China 2014</option>
<option value="we14hk">Hong Kong 2014</option>
<option value="we14in">India 2014</option>
<option value="we14id">Indonesia 2014</option>
<option value="we14jp">Japan 2014</option>
<option value="we14kr">Korea 2014</option>
<option value="we14my">Malaysia 2014</option>
<option value="we14mn">Mongolia 2014</option>
<option value="we14mm">Myanmar 2014</option>
<option value="we14ph">Philippines 2014</option>
<option value="we14sg">Singapore 2014</option>
<option value="we14lk">Sri Lanka 2014</option>
<option value="we14tw">Taiwan 2014</option>
<option value="we14th">Thailand 2014</option>
<option value="we14vn">Vietnam 2014</option>
<option value="we14aa">Asia 2014</option>
</select>

<p>
<label for="proof">Please copy-and-paste some proof from your purchase receipt</label>
<textarea id="proof" name="proof"></textarea>
</p>

<input type="submit" name="submit" value="submit">
</form>

