  <article>
    <header>
      <h1>Sorry! Removed.</h1>
    </header>

    <p>Sorry. There used to be a blog post here, but I decided to remove it.</p>

    <p>Please <a href="/blog">see my list of blog posts</a> to find another.</p>

    <img src="/images/kids-raft.jpg">

    <footer>
      © <%= @year %> <a href="http://sivers.org/">Derek Sivers</a>
    </footer>
  </article>

