<section id="aboutme">
<h2>
	Me in 10 seconds
</h2>
<p>
	I’ve been a <a href="/music">musician</a>, <a href="http://artificialrecords.com/">producer</a>, <a href="http://professionalpests.com/">circus performer</a>, <a href="/a">entrepreneur</a>, <a href="/presentations">TED speaker</a>, and <a href="/we14">book publisher</a>.
</p><p>
	I started <a href="http://www.cdbaby.com/">CDBaby</a> and <a href="http://www.hostbaby.com/">HostBaby</a>, until I felt <a href="/done">done</a>, then <a href="/trust">gave them away</a>.
	My <a href="/a">audio/book about it</a> tells you everything I learned in one hour.
</p><p>
	Now I’m a <a href="/blog">writer</a>, <a href="https://code.sivers.org/">programmer</a>, and <a href="/book">student</a>.
</p><p>
	I’m fascinated with the usable psychology of self-improvement, business, philosophy, and <a href="/book/WhenCulturesCollide">culture</a>.
	I love finding a <a href="/counter">different point of view</a>.
</p><p>
	<a href="http://typelogic.com/intj.html">INTJ</a>,
	minimalist,
	<a href="/soso">solitary socialite</a>,
	and a very <a href="/slow">slow thinker</a>.
</p><p>
	California native.
	I now <a href="/local">live</a> in <a href="/here">New Zealand</a> and <a href="/singapore">Singapore</a>.
</p><p>
	Deeply happy and <a href="/drama">anti-drama</a>, my favorite fable is <a href="/horses">塞翁失马</a>.
</p><p>
	Here’s <a href="/now">what I’m doing now</a>.
</p>
</section>


<section id="contact">
<h2>Contact</h2>
<p>
	Please read <a href="/contact">why you should contact me</a>, then introduce yourself.
</p>
</section>


<section id="newestarticles">
<h2>Newest Articles <small><a href="/blog">see all</a></small></h2>
<ul><% @new_blogs.each do |b| %>
	<li><a href="/<%= b[:url] %>"><%=h b[:title] %></a></li><% end %>
</ul>
</section>

<section id="popularposts">
<h2>Popular Articles <small><a href="/blog">see all</a></small></h2>
<ul>
	<li><a href="/ff">Leadership Lessons from Dancing Guy</a></li>
	<li><a href="/hellyeah">No yes. Either HELL YEAH or no.</a></li>
	<li><a href="/multiply">Ideas are just a multiplier of execution</a></li>
	<li><a href="/itunes">The day Steve Jobs dissed me in a keynote</a></li>
	<li><a href="/trust">Why I gave away my company to charity</a></li>
	<li><a href="/local">You don’t have to be local</a></li>
	<li><a href="/drama">Kurt Vonnegut explains drama</a></li>
	<li><a href="/full">What if you didn’t need money or attention?</a></li>
	<li><a href="/up2you">Nobody’s going to help you. Does that encourage you or discourage you?</a></li>
	<li><a href="/obvious">Obvious to you. Amazing to others.</a></li>
</ul>
</section>

<section id="interviews">
<h2>Interviews</h2>
<p>Through 2015, I got personal and poured my heart into <a href="/i">40 hours of interviews</a>.</p>
<p>Each one has an MP3 you can download, or a transcript if you prefer to read.</p>
</section>

<section id="companies">
<h2>Projects <small><a href="/projects">see all projects</a></small></h2>
<dl>
	<dt><a href="/book">Book Notes</a></dt>
	<dd>detailed notes from the last 230+ books I’ve read</dd>
	<dt><a href="http://nownownow.com/">Now Now Now</a></dt>
	<dd>a collection of sites that have a “what I’m doing now” page</dd>
	<dt><a href="http://musicthoughts.com/">MusicThoughts</a></dt>
	<dd>inspiring quotes about music, translated into Español, Français, Deutsch, Italiano, Português, Русский, العربية, 日本語, and 中文</dd>
	<dt><a href="https://code.sivers.org/sivers.org/">sivers.org</a></dt>
	<dd>the hand-crafted Ruby code that makes this site</dd>
</dl>
</section>

<section id="mybooks">
<h2>Books</h2>
<dl>
	<dt><a href="/a">Anything You Want</a></dt>
	<dd>Tales from my CD Baby experience: Entrepreneur lessons learned from starting, building, and selling CD Baby.</dd>
	<dt><a href="/pdf">Marketing Your Music</a></dt>
	<dd>Free e-book for musicians about promoting your music and navigating the music industry.</dd>
	<dt><a href="https://woodegg.com/">Wood Egg Startup Guides</a></dt>
	<dd>20 books about starting a business in Cambodia, China, Hong Kong, India, Indonesia, Japan, Korea, Malaysia, Mongolia, Myanmar, Philippines, Singapore, Sri Lanka, Taiwan, Thailand, and Vietnam.</dd>
</dl>
</section>

<section id="videos">
<h2>Videos</h2>
<dl>
	<dt><a href="http://www.ted.com/speakers/derek_sivers">TED (ted.com)</a></dt>
	<dd>3 short talks from the TED Conference.</dd>
	<dt><a href="/anything">Anything You Want</a></dt>
	<dd>7 short animations from my book “Anything You Want”.</dd>
	<dt><a href="/wds">Uncommon Sense</a></dt>
	<dd>Entrepreneur lessons learned from starting, building, and selling CD Baby.</dd>
	<dt><a href="/presentations">Conference Presentations</a></dt>
	<dd>Talks from other conferences, all subjects.</dd>
</dl>
</section>

<section id="photos">
<h2>Photos <small>(click for big)</small></h2>
<a href="/images/DerekSivers-20141119-1450.jpg"><img src="/images/DerekSivers-20141119-100.jpg" alt="Derek Sivers" title="© 2014 Derek Sivers"/></a>
<a href="/images/DerekSivers-20141209a-1853.jpg"><img src="/images/DerekSivers-20141209a-100.jpg" alt="Derek Sivers" title="© 2014 Pat Shepherd - patshepherd.co.nz" /></a>
<a href="/images/DerekSivers-20141209b-2333.jpg"><img src="/images/DerekSivers-20141209b-100.jpg" alt="Derek Sivers" title="© 2014 Pat Shepherd - patshepherd.co.nz" /></a>
<a href="/images/DerekSivers-20141209c-1556.jpg"><img src="/images/DerekSivers-20141209c-100.jpg" alt="Derek Sivers" title="© 2014 Pat Shepherd - patshepherd.co.nz" /></a>
</section>

<section id="tweets">
<h2>Tweets <small><a href="/tweets">see all tweets</a></small></h2>
<dl id="tweetlist"><% @new_tweets.each do |t| %>
	<dt><%= t[:show_date] %></dt>
	<dd><%= t[:tweet] %></dd><% end %>
</dl>
</section>

<section id="search">
<h2>Search</h2>
<form action="https://www.google.com/search" method="get">
	<label for="q">Search sivers.org for anything:</label>
	<input type="text" name="q" value="">
	<input type="hidden" name="sitesearch" value="sivers.org">
	<input type="submit" value="search">
</form>
</section>
